<%= render 'spree/admin/shared/settings_view_tabs' %>
<% admin_breadcrumb(t('spree.configurations_view')) %>
<% admin_breadcrumb(plural_resource_name(Spree::Footer)) %>

<%= render partial: 'spree/shared/error_messages', locals: { target: @footer } %>

<%= form_for [:admin, @footer] do |f| %>
<fieldset class="no-border-top">
  <%= render partial: 'form', locals: { f: f } %>
  <div class="filter-actions">
    <%= render partial: 'spree/admin/shared/new_resource_links' %>
  </div>
</fieldset>
<% end %>
